

[submodule "main/paLibSubs/paCoreSrc"]
	path = main/paLibSubs/paCoreSrc
	url = https://hub.fastgit.org/paMcuLib/paMcuLibCore_Esp32.git

[submodule "main/paLibSubs/paMods/display/SSD1306"]
	path = main/paLibSubs/paMods/display/SSD1306
	url = https://hub.fastgit.org/paMcuLib/ssd1306_paMcuLib.git
[submodule "main/paLibSubs/paMods/display/ILI9341"]
	path = main/paLibSubs/paMods/display/ILI9341
	url = https://hub.fastgit.org/paMcuLib/ili9341_paMcuLib.git
[submodule "main/paLibSubs/paMods/input/xpt2046"]
	path = main/paLibSubs/paMods/input/xpt2046
	url = https://hub.fastgit.org/paMcuLib/xpt2046_paMcuLib.git
[submodule "main/paLibSubs/paCoreInc"]
	path = main/paLibSubs/paCoreInc
	url = https://hub.fastgit.org/paMcuLib/paMcuLibCoreHead.git
