[submodule "components/paLibSubs/paCoreHead"]
	path = components/paLibSubs/paCoreHead
	url = https://hub.fastgit.org/paMcuLib/paMcuLibCoreHead.git
[submodule "components/paLibSubs/paCoreSrc"]
	path = components/paLibSubs/paCoreSrc
	url = https://hub.fastgit.org/paMcuLib/paMcuLibCore_Esp32.git
[submodule "components/paLibSubs/paBase"]
	path = components/paLibSubs/paBase
	url = https://hub.fastgit.org/ActivePeter/paMcuLib_Base.git


[submodule "components/paLibSubs/paMods/display/ILI9341"]
	path = components/paLibSubs/paMods/display/ILI9341
	url = https://hub.fastgit.org/paMcuLib/ili9341_paMcuLib.git
[submodule "components/paLibSubs/paMods/input/xpt2046"]
	path = components/paLibSubs/paMods/input/xpt2046
	url = https://hub.fastgit.org/paMcuLib/xpt2046_paMcuLib.git
[submodule "components/paLibSubs/paMods/display/SSD1306"]
	path = components/paLibSubs/paMods/display/SSD1306
	url = https://hub.fastgit.org/paMcuLib/ssd1306_paMcuLib.git
