build/
esp-idf/
CMakeFiles/
bootloader-prefix/
config/
flash_app_args
flash_args
flash_args.in
flash_bootloader_args
flash_project_args
flasher_args.json
compile_commands.json
config.env
kconfigs.in
kconfigs_projbuild.in
ldgen_libraries
ldgen_libraries.in
partition_table-flash_args
project_description.json
rules.ninja
app-flash_args
bootloader-flash_args
build.ninja
cmake_install.cmake
CMakeCache.txt
components/arduino/